{{define "content"}}
<p class="w-full mb-10 text-center text-2xl"><a class="{{template "clickable-class"}} " href="donation/index.php">Click here to donate</a></p>

<section class="mb-10">
	<p class="font-bold">Here is a list of areas where you can make an important contribution:</p>
	<ul class="list-disc list-inside">
		<li>Salary to the teachers</li>
		<li>Food</li>
		<li>Uniforms</li>
		<li>Transport</li>
		<li>School supplies</li>
		<li>Building materials to build a new school</li>
		<li>Sponsor one child for $800 a year (<a class="{{template "clickable-class"}}" href="/pdf/Student-sponsor-and-donation-form.pdf" target="_blank">Sponsorship form</a>)</li>
	</ul>
</section>	

<section class="p-10 text-white bg-amber-900 shadow-lg shadow-amber-800 rounded">
  <p class="mb-3 font-bold">If you would like to help Duluti, please click <a class="{{template "clickable-bright-class"}}" href="donation/index.php" target="_self">here</a> or use the information given below:</p>
	<section class="w-fit grid gap-7" style="grid-template-columns: max-content auto;">
  <p>Address:</p>
  <section>
    <p>COLLINS DANIEL MAKAU<p/>
    <p>PO. BOX 12522</p>
    <p>ARUSHA</p>
  </section>
	<p>Bank:</p>
  <section>
    <p>STANBIC BANK TANZANIA LIMITED</p>
    <p>MAILBOX 72647</p>
    <p>DAR ES SALAAM</p>
  </section>
  <p>Swift-code:</p>
  <p>SBICTZTX</p>
	<p>Bank number:</p>
  <p>9120000855934</p>
  </section>
</section>	
{{end}}