.navbar-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.navbar-item {
  font-size: 2em;
  padding: 0 0.5em 0 0.5em;
  border-radius: 2em;
}

.navbar-item:hover {
  cursor: pointer;
  background-color: rgba(89,90,49,.4);
}